body {
  margin: 0;
  padding: 0;
  background: #F6F7EB;
  color:#393E41;
  font-family: 'Open Sans', sans-serif;

}
.container {
  width:1200px;
  margin:0 auto 0;
}

.form {
  text-align: center;
  margin-top:50px;
  background: #fff;
  padding:20px;

  label {
    top:1px;
    font-size:18px;
    padding: 5px 10px;
    border: 1px solid #3F88C5;
    border-right: none;
    position: relative;
    background: #3F88C5;
    color:#F6F7EB;
    left:5px;
  }
  input {
    border:1px solid #3F88C5;
    border-left:none;
    font-size:18px;
    margin-bottom: 20px;
    padding: 6.5px;
    display: inline-block;
    margin-right:10px;
    &:focus {
      outline: none;
    }
  }

}
.button {
  display: inline-block;
  cursor: pointer;
  padding:10px 20px;
  margin-top: 20px;
  background: #393E41;
  border:1px solid #393E41;
  color:#F6F7EB;
  transition: color 0.3s, background 0.3s;
  &:hover {
    color:#393E41;
    background: #fff;
  }
}
#result {
  text-align: center;
  font-size:24px;
  margin-top: 10px;
}
.error {
  color:#E94F37;
}
.title {
  text-align: center;
  font-size:24px;
  margin:10px 0;
}
@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity:1;
  }
}
.modal-container {
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  position: fixed;
  background: rgba(0,0,0,0.7);
  animation: modalOpen 0.4s;
}
.modal-container.close {
  top: 0;
  left: 0;
  opacity: 0;
  width:120%;
  height:100%;
  position: fixed;
  background: rgba(0,0,0,0.7);
  animation: modalOpen 1 0.4s;
  animation-direction: reverse;
}
.modal {
  padding: 10px;
  text-align: center;
  position: fixed;
  background: #fff;
}
.close {
  font-weight: bold;
  position: absolute;
  left:100%;
  top:5px;
  cursor: pointer;
  margin-left:-20px;
}

form  {
  &>div{
    width:33%;
    display: inline-block;
  }

}
table {
}
td {
  cursor: pointer;
}
.modal .form {
  text-align: left;

  label {
    display: inline-block;
    width:70px;
    top: 1px;

  }
}